.custom-navbar{
    background-color: orange;
    color:whitesmoke;
}
.custom-navbar a{
    text-decoration: none;
    color:whitesmoke;
}
.custom-btn{
    border:none;
    outline:none;
    color:whitesmoke;
}