.navbar{
  padding: 30px;
  align-items: center;
  max-width: 3000px;
  margin-left: auto;
  background-color: #ff941a;
}

.Back-key{
  padding-top: 0px;
  position: absolute;
  top: 10.5rem;
  left: 36.5rem;
}

.navbar h1{
  color:white;
  font-size: 30px;
  
}

.navbar h4{
  padding-left: 50px;
  cursor:pointer;
  color:whitesmoke;
  font-size: 25px;
}

.navbar h2{
  padding-left: 900px;
  cursor:pointer;
  color:whitesmoke;
}

/* .h5{
  text-align: left;
} */
.h4{
  padding-right:20px;
  padding-left: 20px;
}
.content{
  justify-content: center;
  text-align: left;
  background-color: #e7e9ec;
  height:350px;
  width:30%; 
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column ;
 
}

.First-input input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.Second-input input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.Third-output button{
  background-color: #ff941a;
  color: white;
  padding: 18px 20px;
  margin: 8px 0;
  border: none;
  height:20px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.fourth-input input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.signup{
  padding-top:20px;
  display:flex;
  align-items: center;
}
button {
  background-color: #ff941a;
  color: white;
  padding: 5px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 30px;
  font-size: medium;
}

button:hover {
  opacity: 0.8;
}