.custom-form{
    display: flex;
    border:none;
    outline:none;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem;
}
.custom-form label,
.custom-form div{
    font-size: 1.5rem;
    width:25%;
}
