.adminData{
    /* border:1px solid black; */
    background: #F2F2F2;
    width:80%;
    padding:1rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.adminData div{
    width:60%;
    margin:0 auto;
}
.company{
    width: 80%;
}
.custom-container{
    text-decoration: none;
    color:black;
    font-weight: 500;
}
